.card {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #fff;
  }

  &--disabled {
    opacity: 0.4;
  }

  &__container-image {
    padding-bottom: 21px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100px;
  }
  &__container {
    &--disabled {
      opacity: 0.4;
    }
  }

  &__tag {
    width: max-content;
    height: 14px;
    border-radius: 2px;
    padding: 1px 4px;
    @extend %text-uppercase;
  }

  &__lead {
    padding-bottom: 6px;
    @extend %text-uppercase;
  }

  &__overline-text {
    @extend %text-uppercase;
  }

  &__major-text {
    @extend %text-capitalize;
  }
}
