@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.overline-text,
.lead-text,
.major-text {
  font-weight: 500;
  font-style: normal;
}

.overline-text {
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.5px;
}

.lead-text,
.major-text {
  line-height: 24px;
}

.lead-text {
  font-size: 18px;
}

.major-text {
  font-size: 16px;
}
