$cardDefaultSpacing: 10px;
$cardDefaultBorderRadius: 8px;
$cardDefaultHoverBgColor: #ffffff;
$cardDefaultBorderWidth: 1px;
$cardDefaultDisabledOpacity: 0.4;
$cardTagDefaultBorderRadius: 2px;

$cardTypes: 'success' 'green', 'informational' 'blue', 'error' 'red',
  'attention' 'brown', 'warning' 'orange', 'neutral' 'gray';
$tagTypes: 'default', 'minor', 'light';

$breakpoints: (
  'mobile': 0,
  'tablet': 800px,
  'desktop': 1200px,
);

$colors: (
  'blue50': #e4f2fd,
  'blue100': #cfe8ff,
  'blue200': #b0d9ff,
  'blue300': #98ceff,
  'blue400': #71b1fd,
  'blue500': #569aff,
  'blue600': #3c7cfc,
  'blue700': #2d6be6,
  'blue800': #1d58ce,
  'blue900': #1444a3,
  'blue1000': #1444a3,
  'red50': #ffeff0,
  'red100': #ffd5d4,
  'red200': #ffb5b1,
  'red300': #ff9790,
  'red400': #ff756b,
  'red500': #fd594e,
  'red600': #ee4845,
  'red700': #dd333b,
  'red800': #cd2131,
  'red900': #b00020,
  'red1000': #4a0402,
  'green50': #e9f5ea,
  'green100': #d1eadb,
  'green200': #b9decb,
  'green300': #9cd0b8,
  'green400': #83c4a8,
  'green500': #60b391,
  'green600': #3ba179,
  'green700': #2d8f62,
  'green800': #267744,
  'green900': #1e5d23,
  'green1000': #133716,
  'gray50': #f5f4f1,
  'gray100': #e4e2e1,
  'gray200': #cac9c9,
  'gray300': #adacae,
  'gray400': #949397,
  'gray500': #7e7c82,
  'gray600': #6c6a70,
  'gray700': #5c5a5f,
  'gray800': #4b4a4e,
  'gray900': #302f32,
  'gray1000': #000000,
  'orange50': #fff8e2,
  'orange100': #ffebb6,
  'orange200': #fedf88,
  'orange300': #fed45b,
  'orange400': #fec93e,
  'orange500': #fec02f,
  'orange600': #ffb311,
  'orange700': #fe9f16,
  'orange800': #fe8b1b,
  'orange900': #fd6f22,
  'orange1000': #c54914,
  'brown50': #f5edea,
  'brown100': #eedfd9,
  'brown200': #e5ccc1,
  'brown300': #dab6a5,
  'brown400': #cfa089,
  'brown500': #c4896d,
  'brown600': #b57554,
  'brown700': #aa6742,
  'brown800': #9d562d,
  'brown900': #93491d,
  'brown1000': #642500,
);

@include generateCSSPropertyWithColor(color, color, $colors);
@include generateCSSPropertyWithColor(background-color, bg, $colors);
@include generateCardClasses();

%text-uppercase {
  text-transform: uppercase;
}

%text-capitalize {
  text-transform: capitalize;
}
